{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <form action="{{ path("fos_user_security_check") }}" method="post">

        <fieldset>
            <legend>{{ "Sign in"|trans }}</legend>

            {% if error %}
                <div class="notification error" style="padding: 10px;">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form-control" type="password" id="password" name="_password" />

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>

            <button class="btn btn-primary" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
        </fieldset>

    </form>

    <br>
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-envelope"></span>
        <a href="{{ path("fos_user_resetting_request") }}">{{ "I have lost my password"|trans }}</a>
    </div>

{% endblock fos_user_content %}
